.shisha-count {
    color: white;
    display: flex;
    align-items: center;
    font-size: 52px;
    font-weight: bold;
    margin-top: 55px;

}

.shisha-count img {
    width: 45px;
    height: 65px;
}
