.joint-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.joint-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jerremy-container {
    width: 305px;
    height: 430px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 45px 0;
}
