.button {
    background-image: url("../../images/buttonBackground.png");
    color: white;
    border: none;
    font-weight: bold;
    display:flex;
    align-items: center;
    justify-content: center;
}
