.userinfo-container {
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.user-avatar {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
}

.user-avatar img {
    width: 46px;
}

.change-avatar {
    margin: 0;
    font-size: 6px;

}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.user-name {
    font-size: 11px;
    margin: 0;
}

.user-balance {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-balance img {
    width: 23px;
    height: 23px;
}
.user-balance p {
    margin: 0;

}
