

.jerremy-place {
    position: relative;
    width: 370px;
    height: 430px;
    background: rgba(63, 255, 0, 0.45);
    border-radius: 10px;
    background-size: 460px;
}

.jerremy-place img{
    position: absolute;
    width: 330px;
    height: 420px;
    bottom: -14px;
}
