.mainContainer {
    margin-top: 10px;
}

.up-side-container {
    display: flex;
    justify-content: center;
}

.up-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
    width: 250px;
}

.center-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-place {
    margin: 35px 0;
    display: flex;
    justify-content: center;
}

.daily-reward-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.daily-reward-list {
    width: 310px;
    height: 330px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.daily-reward-item {
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.change-ava-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smf {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 0;
    border-radius: 10px;
    margin-bottom: 25px;
}

.ava-list {
    width: 290px;
    height: 290px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
    /*background-color: rgba(255, 255, 255, 0.2);*/

}

.ava-list::-webkit-scrollbar {
    width: 2px;
}

.ava-list::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #ffffff;
}

.ava-list::-webkit-scrollbar-track {
    margin: 10px 0;
}


.change-ava-item {
    width: 110px;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    font-size: 10px;
}

.change-ava-item  img{
    width: 40px;
    height: 40px;

}
