.mainContainer {
    margin-top: 10px;
}

.up-side-container {
    display: flex;
    justify-content: center;
}

.up-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 330px;
}

.center-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-place {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}
