

.jerremy-place {
    position: relative;
    width: 280px;
    height: 332px;
    background: rgba(63, 255, 0, 0.45);
    border-radius: 10px;
    background-size: 460px;
}

.jerremy-place img{
    position: absolute;
    width: 255px;
    height: 320px;
    bottom: -14px;
}
