.friends-page-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friends-page-container img {
    width: 160px;
}

.friends-invite-text p {
    margin: 0;
    font-size: 21px;
    font-weight: bold;
}

.friends-invite-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    margin: 15px 0;
}

.friends-invite-info-item {
    width: 120px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.friends-invite-info-prize {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.friends-invite-info-prize img {
    width: 32px;
    margin-left: 5px;
}

.friends-invite-info-text{
    font-size: 11px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.friends-invite-info-text img{
    width: 12px;
}

.friends {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.friends p {
    font-size: 20px;
}

.friends-list {
    width: 250px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    overflow: auto;
}

.friends-list::-webkit-scrollbar {
    width: 2px;
}

.friends-list::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #ffffff;
}

.friends-list::-webkit-scrollbar-track {
    margin: 10px 0;
}

.friends-list-item {
    width: 210px;
    min-height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    /*padding: 0 20px;*/
}

.friends-list-item p {
    font-size: 14px;
    font-weight: bold;
    /*margin-left: 15px;*/
}

.friend-cost {
    display: flex;
    align-items: center;
    /*margin-right: 15px;*/
}

.friend-cost img{
    width: 20px;
    margin-left: 3px;
}

.friend-name {
    display: flex;
}

.friend-name img {
    width: 15px;
    margin-left: 3px;
}
